

<form method="post" action="/deletepost">
   
	<!-- method for put and delete action -->
   <input id= "hidden" type="hidden" name="_method" value = "delete">
   <!-- this line -->
   
   <input id="submit" type="submit" name="title" value="delete">
</form>