<h3> Delete User </h3>




<form method="post" action="/deleteuser">
   
	<!-- method for put and delete action -->
   <input id= "hidden" type="hidden" name="_method" value = "delete">
   <!-- this line -->
   
   <input id="submit" type ="submit" value="<%= @user.fname %>">
</form>



