<div class="container">


<!-- 	< if @user %>

	<div id="logout">
		<ul>
			<li><h3><a href="profile">Your Blog</a></h3></li>
			<li><h3><a href="editdetail">Edit Profile</a></h3></li>
			<li><h3><a href="logout">Logout</a></h3></li>
		</ul>
		
	</div>
	< end %> -->
	<div class="container">
		<center>
			<h1> Most Recent Blog </h1>
		</center>
		<br><br>

		<% @post.each do |t| %>
		<div class="card">
		  <div class="card-header">
		    Blog of <%= t.user.username %>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= t.title %></h5>
		    <p class="card-text"><%= t.content %></p>
		    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		  </div>
		</div>
		<br>
		<% end %>
	</div>
	<% unless @user %> 
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href="signup"><button type="button" class="btn btn-primary">Sign Up</button></a>
			</div>
			<div class="col-6">
				<a href="login"><button type="button" class="btn btn-primary">Log In</button></a>
			</div>
		</div>
	</div>
	<% end %>
</div>