<div id="main">


	<% if @user %>
	<div id="logout">
		<h3><a href="logout">Logout</a></h3>
		<h3><a href="editdetail">Edit Profile</a></h3>
		<h3><a href="profile">Your Blog</a></h3>

	</div>
	<% end %>


<center>
	<h1 style = "letter-spacing: 4px;"> Welcome to a Blog Post App </h1>
</center>


<br><br>

<br>
<div id="heading">
	<h1> How to Write a Blog Post: A Simple Formula to Follow </h1>
</div>
<h3>
	<ul>
		<li>Step 1: Start with a topic and working title.</li>
		<li>Step 2: Write an intro (and make it captivating).</li>
		<li>Step 3: Organize your content.</li>
		<li>Step 4: Write!</li>
		<li>Step 5: Edit/proofread your post, and fix your formatting.</li>
	</ul>
<br>
</h3>
<div id="heading">
<h2> Some of the latest Post from our Users </h2>
</div>
<br>



<hr>
<% @post.each do |t| %>
	
	 <center>
	<h3 style="color:red;letter-spacing: 2px;"><li>Blog Title - <b> <%= t.title %></b></li></h3>
	
	<h3 style="color:867979;letter-spacing: 2px;"> Content </h3><h5 style="font-weight: 300"> <%= t.content %></h5>
	</center>
<hr>
<% end %>


<% if @user %>
<button type="submit"> <a href = "newblog"> Add new Blog </button>
<% end %>

</div>