
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1 style="letter-spacing: 20px; font-size: 50px;">Blog App</h1>
					<span style="letter-spacing: 20px; font-size: 14px;">Design by ZAKWAN</span>
				</div>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="signup">Signup</a></li>
						<li><a href="login">LogIn</a></li>
						<!-- <li><a href="home">Recent Blog</a></li> -->
					</ul>
				</nav>
			</div>
		</div>












<!-- <div id="main"> -->


<!-- 	< if @user %>
	<div id="logout">
		<h3><a href="logout">Logout</a></h3>
		<h3><a href="editdetail">Edit Profile</a></h3>
		<h3><a href="profile">Your Blog</a></h3>

	</div>
	< end %> -->

<!-- <center>
	<h4 style = "letter-spacing: 4px;"> Welcome to a Blog Post App </h4>
</center> -->

<!-- 
<br>
<div id="heading">
	<h1> How to Write a Blog Post: A Simple Formula to Follow </h1>
</div>
<h3>
	<ul>
		<li>Step 1: Start with a topic and working title.</li>
		<li>Step 2: Write an intro (and make it captivating).</li>
		<li>Step 3: Organize your content.</li>
		<li>Step 4: Write!</li>
		<li>Step 5: Edit/proofread your post, and fix your formatting.</li>
	</ul>
<br>
</h3>
<div id="heading">
<h2> Some of the latest Post from our Users </h2>
</div>
<br>

 -->
