<div class = "container">

<center>
<h2>Login Form</h2>
</center>

<form method="post" action="/login">


  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    
   

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-Success">Log In</button>
      </div>
      <div class="col-6">
          <a href = "signup"><button type="button" class="btn btn-primary">Sign Up</button></a>
      </div>
    </div>


    <input type="checkbox" checked="checked"> Remember me
  </div>
 <div class="container">
  <div class="row">
   
      <div class="col-6">
        <a href="index"><button type="button" class="cancelbtn">Cancel</button></a>
      </div>
      <div class="col-6">
        <a href="home">Forget Password?</a>
      </div>
    </div>
  </div>
</form>


