<div id="main">

<center>
<h2>Add Blog here</h2>
</center>

<form method="post" action="/newblog">


  <div class="container">
    <label><b>Blog Title</b></label>
    <input type="text" placeholder="Enter Your Title" name="title" required>

    <label><b>Blog Discription</b></label>
    <textarea type="text" placeholder="Enter Content" name="content" required></textarea>
        
    <button type="submit" class="btn btn-primary">Add</button>
    
  </div>

  <div class="container">
    <a href= "profile"><button type="button" class="btn btn-danger ">Cancel</button></a>
  </div>
</form>
