<div id="main">

<center>
<h2>Add Blog here</h2>
</center>

<form method="post" action="/newblog">


  <div class="container">
    <label><b>title</b></label>
    <input type="text" placeholder="Enter Your Title" name="title" required>

    <label><b>Content</b></label>
    <textarea type="text" placeholder="Enter Content" name="content" required></textarea>
        
    <button type="submit">Add</button>
    
  </div>

  <div class="container">
    <button type="button" class="cancelbtn"><a href= "profile">Cancel</a></button>
  </div>
</form>
