<div class="container">
  <center>
      <h1> Your Recent Blog  </h1>
  </center>
  <br><br>
  <% @post.each do |t| %>
    <div class="card">
      <div class="card-header">
        Blog of <%= @user.username %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= t.title %></h5>
        <p class="card-text"><%= t.content %></p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>

  <% end %>
  	<div id="back">
  		<a href="home">Back</a>
  	</div>
</div>

