<div id="main">

<hr>
<% @post.each do |t| %>
	
	 <center>
	<h3 style="color:red;letter-spacing: 2px;"><li>Blog Title - <b> <%= t.title %></b></li></h3>
	
	<h3 style="color:867979;letter-spacing: 2px;"> Content </h3><h5 style="font-weight: 300"> <%= t.content %></h5>
	</center>
<hr>
<% end %>
	<div id="back">
		<a href="home">Back</a>
	</div>
</div>