<div class="container">
<center><h2>Signup Form</h2></center>

<form method="post" action="/signup">
  <div class="container">
    <label><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="fname" required>

    <label><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="lname" required>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label><b>Age</b></label>
    <input type="text" placeholder="Enter Age" name="age" required>
    <input type="checkbox" checked="checked"> Remember me
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-Success">Sign Up</button>
      </div>
      <div class="col-6">
          <a href = "login"><button type="button" class="btn btn-primary">Log In</button></a>
      </div>
    </div>
  </div>
</form>

</div>
</div>

